{{outlet 'error' }}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 stats">
        <div style="display: block;">
          <i class="fa fa-cloud"></i> {{t 'account.stats.immaturebalance.title'}} <span>{{format-balance model.stats.immature}}</span><br>
          <small>{{t 'account.stats.immaturebalance.description'}}</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-bank"></i> {{t 'account.stats.pendingbalance.title'}} <span>{{format-balance model.stats.balance}}</span><br>
          <small>{{t 'account.stats.pendingbalance.description'}}</small>
        </div>
        {{#if model.stats.pending}}
        <div style="display: block;">
          <i class="fa fa-clock-o"></i> {{t 'account.stats.currentpayment'}} <span>{{format-balance model.stats.pending}}</span><br>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-money"></i> {{t 'account.stats.totalpaid'}} <span>{{format-balance model.stats.paid}}</span></div>
      </div>
      <div class="col-md-4 stats">
        {{#if model.stats.lastShare}}
        <div style="display: block;"><i class="fa fa-clock-o"></i>
          {{t 'account.stats.lastsharesubmitted'}}' <span>{{format-relative (seconds-to-ms (string-to-int model.stats.lastShare))}}</span>
        </div>
        {{/if}}
        <div style="display: block;"><i class="fa fa-gears"></i> {{t 'account.stats.workersonline'}} <span>{{format-number model.workersOnline}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> {{t 'account.stats.hashrate30m'}} <span>{{format-hashrate model.currentHashrate}}</span></div>
        <div style="display: block;"><i class="fa fa-tachometer"></i> {{t 'account.stats.hashrate1h'}} <span>{{format-hashrate model.hashrate}}</span></div>
      </div>
      <div class="col-md-4 stats">
        <div style="display: block;"><i class="fa fa-tachometer"></i> {{t 'account.stats.blocksfound'}} <span>{{format-number model.stats.blocksFound fallback='0'}}</span></div>
        <div style="display: block;"><i class="fa fa-paper-plane-o"></i> {{t 'account.stats.totalpayments'}} <span>{{format-number model.paymentsTotal}}</span></div>
        <div style="display: block;">
          <i class="fa fa-gears"></i> {{t 'account.stats.roundshare.title'}} <span>{{format-number roundPercent style='percent' maximumFractionDigits='6'}}</span><br/>
          <small>{{t 'account.stats.roundshare.discription'}}</small>
        </div>
        <div style="display: block;">
          <i class="fa fa-clock-o"></i>
          {{t 'account.stats.epochswitch'}} <span>{{format-relative applicationController.nextEpoch units="hour"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='account.index' role='presentation'}}
      {{#link-to 'account.index'}}{{t 'account.tab.workers'}} <span class="badge alert-danger">{{model.workersOffline}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}{{t 'account.tab.payouts'}}{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}
