<div class="jumbotron">
  <div class="container">
    <p class="lead">{{t 'blocks.explanation'}}</p>
    <strong>
      {{t 'blocks.maturity' maturitytime=520 htmlSafe=true}}
    </strong>
  </div>
</div>
<div class="container">
  {{#if model.luck}}
    {{partial "luck"}}
  {{/if}}
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='blocks.index' role='presentation'}}
      {{#link-to 'blocks.index'}}{{t 'blocks.tab.blocks'}} <span class="badge alert-success">{{format-number model.maturedTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.immature' role='presentation'}}
      {{#link-to 'blocks.immature'}}{{t 'blocks.tab.immature'}} <span class="badge alert-success">{{format-number model.immatureTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.pending' role='presentation'}}
      {{#link-to 'blocks.pending'}}{{t 'blocks.tab.newblocks'}} <span class="badge alert-info">{{format-number model.candidatesTotal}}</span>{{/link-to}}
    {{/active-li}}
  </ul>
  {{outlet}}
</div>
