<div class="jumbotron">
  <div class="container">
    <p class="lead">{{t 'miners.totalhashrate'}} {{format-hashrate model.hashrate}}.</p>
    <strong>{{t 'miners.totalminers'}}</strong> <span class="label label-info">{{model.minersTotal}}</span>
  </div>
</div>
<div class="container">
  {{#if model.miners}}
  <h4>{{t 'miners.table.title'}}</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>{{t 'miners.table.login'}}</th>
          <th>{{t 'miners.table.hashrate'}}</th>
          <th>{{t 'miners.table.lastbeat'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.miners as |m|}}
        <tr class="{{if m.offline "warning"}}">
          <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
          <td>{{format-hashrate m.hr}}</td>
          <td>{{format-date-locale m.lastBeat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t 'miners.nominers'}}</h3>
  {{/if}}
</div>
