<div class="jumbotron">
  <div class="container">
    <p class="lead">{{t 'payments.explanation'}}</p>
    <strong>{{t 'payments.totalsent'}}</strong> <span class="label label-info">{{model.paymentsTotal}}</span>
  </div>
</div>
<div class="container">
  {{#if model.payments}}
  <h4>{{t 'payments.latestpayouts'}}</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>{{t 'payments.table.time'}}</th>
          <th>{{t 'payments.table.amount'}}</th>
          <th>{{t 'payments.table.address'}}</th>
          <th>{{t 'payments.table.txid'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>{{format-number tx.formatAmount}}</td>
            <td>
              <a href="https://etherscan.io/address/{{tx.address}}" class="hash" rel="nofollow" target="_blank">{{tx.address}}</a>
            </td>
            <td>
              <a href="https://etherscan.io/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{format-tx tx.tx}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>{{t 'payments.nopayouts'}}</h3>
  {{/if}}
</div>
